.Tituloimg {

  height: 70px;
  width: 100px;
  display: block;
  padding-left: 20px;
  padding-right: 0px;

}
.Naviga{
height: auto;
}
.Navheader{
  height: 70px;
  width: 100px;
  margin-bottom: 0px;
}
.NavheaderT{
    margin-bottom: -20px;
    border: 0px;
    height: auto;
    width: auto;
}
