.Titulo {
  max-width: 2%;
  min-width: 2%;
  border-radius: 8px;
  margin: auto;
  height: auto;
  display: block;
}

.fondo {
  background: #7c7680;
}

.navbar-toggle {
  position: absolute;
  right: 0;
}
